

.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  background-image: url(header.jpeg);
 
}

.navigation {
  width: 250px;
  float:left;
  height: 100%;
  position: -webkit-sticky;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}


.mainmenu a {
  display: block;
  background-color: #6bb2b2;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #9bdbdb;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #2c7a7a;
}

.submenu a:hover {
  background-color: #afdbdb;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

/* Style page content */
.main {
  margin-left:250px; 
  padding: 0px 10px;
}

#table th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9898ff;
  color: white;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#storetable th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9898ff;
  color: white;
}

#storetable td, #storetable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stocktable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9898ff;
  color: white;
}

#stocktable td, #stocktable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#textsearch{
  float: left;
  width: 300px;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

















